flows/simulations/sensors/temperature.json
[
    {
        "id": "temperature-simulation",
        "type": "tab",
        "label": "Temperature Sensor Simulation",
        "disabled": false,
        "info": "Basic temperature sensor simulation flow"
    },
    {
        "id": "temp-sim-inject",
        "type": "inject",
        "z": "temperature-simulation",
        "name": "1s Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "temp-sim-function"
            ]
        ]
    },
    {
        "id": "temp-sim-function",
        "type": "function",
        "z": "temperature-simulation",
        "name": "Generate Temperature Data",
        "func": "// 基準温度（20℃）を中心に変動\nconst baseTemp = 20.0;\nconst variation = 0.5;\n\n// ランダムな変動を追加\nconst temp = baseTemp + (Math.random() * 2 - 1) * variation;\n\n// Smart Data ModelsのTemperatureSensorモデルに準拠\nconst now = new Date();\nmsg.payload = {\n    \"id\": \"urn:ngsi-ld:TemperatureSensor:001\",\n    \"type\": \"TemperatureSensor\",\n    \"dateObserved\": now.toISOString(),\n    \"temperature\": temp,\n    \"unit\": \"CEL\",\n    \"accuracy\": 0.1,\n    \"location\": {\n        \"type\": \"Point\",\n        \"coordinates\": [139.7671, 35.6812]\n    }\n};\n\n// ダッシュボード表示用のプロパティ\nmsg.topic = \"Temperature\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "temp-sim-debug",
                "temp-sim-gauge",
                "temp-sim-chart"
            ]
        ]
    },
    {
        "id": "temp-sim-debug",
        "type": "debug",
        "z": "temperature-simulation",
        "name": "Monitor Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "temp-sim-gauge",
        "type": "ui_gauge",
        "z": "temperature-simulation",
        "name": "Temperature Gauge",
        "group": "temperature",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "°C",
        "format": "{{msg.payload.temperature | number:1}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "temp-sim-chart",
        "type": "ui_chart",
        "z": "temperature-simulation",
        "name": "Temperature Chart",
        "group": "temperature",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "25",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "temperature",
        "type": "ui_group",
        "name": "Temperature Sensor",
        "tab": "sensors",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "sensors",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
] 